mixin table()
    table(class="table table-stripped mt-3")
        thead
            tr
                th(scope="col") ID
                th(scope="col") First Name
                th(scope="col") Last Name
                th(scope="col") E-mail
                th(scope="col") Address
            tbody
                tr
                    - var i = 0;
                    //- for(let i = 0; i < data.length; i++)
                    //- while i < data.length
                        td=i++
                    th(scope="row") #{i++}
                    td #{data[i].fName}
                    td #{data[i].lName}
                    td #{data[i].email}
                    td #{data[i].address}
                //- - if(data.length){for(var i = 0; i < data.length; i++)}
                //- tr
                //-     th(scope="row") #{i++}
                    //- td #{data.first_name}