mixin table()
    table(class="table table-striped")
        thead
            tr(class='text-center')
                th(scope="col") ID
                th(scope="col") First Name
                th(scope="col") Last Name
                th(scope="col") House #
                th(scope="col") Street
                th(scope="col") On/Off Water
                th(scope="col") A-lot
            tbody
                each resident in data
                    tr(class='text-center')
                        td= resident.ID
                        td= resident.First_Name
                        td= resident.Last_Name
                        td= resident.House_Num
                        td= resident.Street
                        td= resident.On_Off_Water
                        td= resident.A_lot